name: Check
on:
    push:
        branches:
            - main
    pull_request:

jobs:
    test:
        name: test
        runs-on: ubuntu-latest
        container:
            image: ghcr.io/webassembly/wasi-sdk:latest

        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: "Set up C component build system"
              run: |
                  apt-get update
                  apt install curl clang build-essential sudo git libssl-dev -y

            - name: Set up minimal stable Rust toolchain
              uses: actions-rust-lang/setup-rust-toolchain@v1
              with:
                  toolchain: stable

            - name: Install wasm tooling
              run: CC=clang cargo install wit-bindgen-cli wasm-tools --locked

            - name: Install edgee
              uses: edgee-cloud/install-edgee-cli@v0.2.0
              with:
                  build: true

            - name: Build
              run: |
                  edgee components build

            - name: Verify .wasm file exists
              run: |
                  if [ ! -f "./dc_component.wasm" ]; then
                    echo "âŒ Error: dc_component.wasm not found" >&2
                    exit 1
                  fi
